@import "../../css/styleguide.scss";

  .loading {
    max-width: 2000px;
    margin: 150px auto 0;
    @include loader;

    &--hidden {
      display: none;
    }
  }



  .no-results {
    max-width: 200px;
    margin: 150px auto 0;
    &--hidden {
      display: none;
    }
  }

  .select {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    select {
      margin-left: 15px;
    }
    
  }

  .weather {
    @include fadeIn;
    margin-bottom: 100px;



    &--hidden {
      display: none;
    }

    img {
      opacity: 0.9;
      height: 50px;
      @media screen and (max-width: $mobileBreakpointMax) {
        height: 20px;
        
      }
    }


    table {
      border-collapse: collapse;  
      border: $border;
      text-align: center;
      table-layout: fixed;
      width: 100%;

      .font-black {
        color: $fontBlack !important;
      }
      .font-white {
        color: $fontWhite !important;
      }
  
        

      thead {
        font-family: $fontBold;
        border: $border;
        
      }

      td,
      th {
        border-bottom: 0.5px solid $fontBlack;
        padding: 20px 20px;
        
        @media screen and (max-width: $mobileBreakpointMax) {
          padding: 35px 0;
          font-size: $fontSmall;
           
        }
      }

    }
  }
